//@import "../lib/lesshat/build/lesshat.less";

@orange: #e69138;
@blue: #3c78d8;
@red: #cc4125;
@nav-height: 48px;
@padding: 12px;

@leapWhite: #fff;
@leapColor: #F89406;
@leapColor2: #03C9A9;
@leapBlack: rgba(0, 0, 0, 0.6);

@shadow1: 0px 1px 4px rgba(0, 0, 0, 0.3);

@font-face {
	font-family: Questrial;
	src: url(Questrial-Regular.ttf);
	font-weight: 200;
}

@font-face {
	font-family: FugazOne;
	src: url(FugazOne-Regular.ttf);
	font-weight: 400;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body {
	height:100%; width:100%;
	margin: 0; padding: 0;
	//.user-select(none);
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	overflow: hidden;
}

body, input {
	font-family: Questrial, Verdana, sans-serif; 
}

body, a {
	color: @leapBlack;
}

h3 {
	color: @leapColor2;
}

.icon {
	display: inline-block;
	height: @nav-height;
	width: @nav-height;
	text-align: center;
	font-size: 20px;
	padding-top: 14px;
	&.active {
		color: @leapWhite;
		border-bottom: 3px solid @leapWhite;
	}
}

.toolbar {
	background: @leapColor;
	height: @nav-height;
	position: absolute;
	top: 0; left: 0; right: 0;
	display: flex;
	flex-direction: row;
	box-shadow: @shadow1;
	z-index: 40;
	.title {
		flex-grow: 1;
		height: 100%;
		font-size: 20px; 
		padding-top: 12px;
	}
	.toolbar-left {
		margin-left: @padding / 2;
	}
	.toolbar-right {
		flex-grow: 1;
		text-align: right;
		margin-right: @padding / 2;
	}
	&.toolbar-fade {
		background: transparent;
		color: @leapWhite;
		box-shadow: none;
		background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
		.icon { color: @leapWhite; }
	}
}


.header {
	background: url('/img/test.jpg');
	background-size: cover;
	position: absolute;
	top: 0; left: 0; right: 0;
	padding-top: @nav-height * 3.5;
	z-index: 30;
	box-shadow: @shadow1;
	//background: @leapWhite;
	input[type=text] {
		margin: 0;
		height: @nav-height;
		padding: @padding;
		border: 0;
		color: @leapBlack;
		background: @leapWhite;
	}
	.camera-icon {
		position: absolute;
		bottom: 0;
		right: 0;
		color: #ddd;
	}
	button {
		//display: none;
	}
}

.content {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	padding: @padding;
	background: #f1f1f1;
	font-size: 16px;
	padding-top: @nav-height + @padding;
	overflow-y: auto;
	&.content-header {
		padding-top: @nav-height * 4.5 + @padding;
	}
}

.logo {
	width: 80%;
	max-width: 180px;
	display: inline-block;
}

h1 {
	font-weight: normal;
	font-family: FugazOne;
	font-size: 32px;
	margin: 3% 0 6%;
}

h2 {
	font-weight: normal;
	margin: 0 0 5%;
}

a {
	text-decoration: none;
}

button {
	margin: 6px auto 14px;
	width: 100%;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 20px;
	background: #777;
	border: 0;
	color: white;
	padding: 12px 0 10px 0;
	font-weight: bold;
	box-shadow: 0px 4px 1px -1px rgba(0, 0, 0, 0.68);
	border-radius: 3px;
	font-family: FugazOne;
	text-transform: uppercase;
	transition: box-shadow 0.5s ease;
	&[disabled] {
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.68);
	}
	&.loading { color: transparent; }
}

.button-danger {
	background: @red !important;
}


.card {
	display: block;
	margin-bottom: @padding;
	background: @leapWhite;
	box-shadow: @shadow1;
	padding: @padding;
	color: #111;
	line-height: 1.4em;
	&.msg-error h2, &.msg-error h3 { color: @red; }
	&.msg-info h2, &.msg-info h3 { color: @blue; }
}


input[type=text] {
	display: block;
	margin: 6px auto 14px;
	width: 100%;
	height: 40px;
	font-size: 16px;
	background: transparent;
	color: @leapBlack;
	border: 0;
	border-bottom: 1px solid #eee;
	box-shadow: none;
	text-indent: 10px;
	&[disabled] {
		background: #eee;
	}
}

/*input[type=text], input[type=password], textarea {
	display: block;
	margin: 6px auto 14px;
	width: 100%;
	height: 40px;
	font-size: 18px;
	background: white;
	color: #333;
	border: 1px solid #d7d7d7;
	box-shadow: inset 0 1px 8px -3px rgba(0,0,0,0.3), inset 0px 2px 18px 1px rgba(0, 0, 0, 0.05);
	text-indent: 10px;
	border-radius: 3px;
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
	&[disabled] {
		background: #eee;
		box-shadow: inset 0 1px 8px -3px rgba(0,0,0,0.3);
	}
}*/

input[type=text] {
	display: block;
}

textarea {
	height: 100px;
	text-indent: 0;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	line-height: 1.8em;
}

.room {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: @padding;
	.icon {
		background: #333;
		color: white;
		border-radius: 50%;
	}
	.name {
		flex-grow: 1;
		margin-left: 14px;
	}
	.label {
	}
}

.post {
	.pic {
		height: 100px;
		margin: -@padding -@padding @padding -@padding;
		background-size: cover;
	}
	.location {
		color: @leapColor2;
		font-size: 14px;
		margin-bottom: 4px;
		.fa { margin-right: 4px; }
	}
	.below {
		font-size: 14px;
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		.created {
			color: #999;
		}
	}
}

.label {
	background: @leapColor2;
	color: @leapWhite;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 21px;
}

form {
	position: relative;
	//background: @bg;
	z-index: 1;
}

.colors {
	li {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 10px;
		&.active {
			//.box-shadow(0px 0px 0px 2px #000000);
		}
	}
}

.segment-buttons {
	//margin-left: -@screen-padding;
	//margin-right: -@screen-padding;
	margin-top: 16px;
	li {
		width: 20%;
		display: inline-block;
		&:last-child a.active { border-right-color: transparent; }
		&:first-child a.active { border-left-color: transparent; }
		a {
			display: block;
			width: 100%;
			//height: @nav-height;
			//line-height: @nav-height;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid transparent;
			border-right: 1px solid transparent;
			border-left: 1px solid transparent;
			box-sizing: border-box;
			&.active {
				background: white;
				border-bottom-color: transparent;
				border-right: 1px solid #ccc;
				border-top: 1px solid #ccc;
				border-left: 1px solid #ccc;
			}
		}
	}
}

.segment {
	background: white;
	border-bottom: 1px solid #ccc;
	/*margin-left: -@screen-padding;
	margin-right: -@screen-padding;
	padding: @screen-padding;*/
	font-size: 0;
	height: 110px;
	label {
		display: block;
	}
}

.sliders-1 .slider { width: 100%; }
.sliders-2 .slider { width: 50%; }
.sliders-3 .slider { width: 33%; }
.sliders-4 .slider { width: 25%; }
.sliders-5 .slider { width: 20%; }
.sliders-6 .slider { width: 16%; }

.slider {
	display: inline-block;
	width: 15%;
	overflow: hidden;
	text-align: center;
	font-size: 14px; 
	.btn {
		margin: 0 auto;
		border-radius: 100%;
		height: 40px;
		width: 40px;
		background: #444;
		color: white;
		line-height: 42px;
		font-size: 16px;
	}
	.title {
		margin: 10px 0;
	}
}

