@import "../bower_components/lesshat/build/lesshat.less";

// variables

@screen-padding: 18px;
@nav-height: 60px;
@orange: #e69138;
@blue: #3c78d8;
@red: #cc4125;


// Mixins

// Fonts


@font-face {
	font-family: Questrial;
	src: url(Questrial-Regular.ttf);
	font-weight: 200;
}

@font-face {
	font-family: FugazOne;
	src: url(FugazOne-Regular.ttf);
	font-weight: 400;
}


body, p, input {
	font-family: Questrial, Verdana, sans-serif; 
}

h1 {
	font-weight: normal;
	font-family: FugazOne;
	font-size: 24px;
	margin: 3% 0 6%;
}

h2 {
	font-weight: normal;
	margin: 0 0 5%;
}

a {
	text-decoration: none;
	color: #666;
}


// Inputs

.input-dimensions {
	//display: inline-block;
	display: block;
	box-sizing: border-box;
	margin: 5px auto 10px;
	width: 100%;
	max-width: 400px;
}

button {
	.input-dimensions;
	font-size: 20px;
	line-height: 24px;
	background: #777;
	border: 0;
	color: white;
	padding: 12px 0 8px 0;
	font-weight: bold;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	font-family: FugazOne;
	text-transform: uppercase;
}

button[type=submit], button.primary {
	//background: @orange;
}

.button-danger {
	background: @red !important;
}

label, input[type=text] {
	display: block;
}

input[type=text], input[type=password] {
	.input-dimensions;
	height: 50px;
	font-size: 24px;
	background: white;
	color: #333;
	border: 1px solid #ddd;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	text-indent: 10px;
	border-radius: 3px;
}

label {
	text-align: left;
	font-size: 20px;
	display: none;
}

.camera-button {
	border-radius: 100%;
	width: 80px;
	height: 80px;
	color: transparent;
	position: absolute;
	bottom: 100px;
	left: 40%;
	&.camera-button-cancel {
		left: -40px;
	}
}


// Layout

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	.user-select(none);
}

.screen {
	position: relative;
	margin: 18px;
	padding: @screen-padding;
	text-align: center;
	background: #f6f6f6;
	color: #222;
	overflow: hidden;
	box-sizing: border-box;
	//overflow-y: auto;
}

.bottom {
	position: absolute;
	bottom: @nav-height;
	left: 0;
	right: 0;
	padding: 0 @screen-padding @screen-padding @screen-padding;

	&.bottom-no-nav {
		bottom: 0;
	}
}

.rect {
	display: inline-block;
	overflow: hidden;
	&.rect-full {
		width: 100%;
		max-height: 40%;
		margin: 3px 0;
	}
	&.rect-half {
		width: 45%;
		max-height: 20%;
		margin: 3px;
	}
	&.rect-overflow {
		position: relative;
		left: -@screen-padding;
		max-height: 60%;
		width:  115%;
		margin: 3px 0;
	}
	img {
		max-width: 100%;
	}
}

.top-left-button, .top-right-button {
	position: absolute;
	top: 0;
	margin: 0;
	background: @orange;
	width: 60px;
	height: 60px;
	font-size: 24px;
	padding-top: 4px;
	z-index: 50;
}

.top-left-button {
	left: 0;
	border-radius: 0 0 100% 0;
	padding-left: 14px;
	text-align: left;
	line-height: 10px;
}

.top-right-button {
	right: 0;
	padding-right: 14px;
	text-align: right;
	border-radius: 0 0 0 100%;
}

.top-right-bubble-buttons {
	position: absolute;
	z-index: 49;
	top: 0;
	right: 0;
	width: 220px;
	height: 220px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0 0 0 100%;
	button {
		position: absolute;
		border-radius: 100%;
		width: 60px;
		height: 60px;
	}
	button:nth-child(1) { right: 145px; top: 2px; }
	button:nth-child(2) { right: 120px; top: 70px; }
	button:nth-child(3) { right: 70px; top: 120px; }
	button:nth-child(4) { right: 2px; top: 145px; }

	&.ng-hide-add, 
	&.ng-hide-remove {
		.transition(transform 0.3s ease);
		.transform-origin(100%, 0);
		display: block !important;
	}
	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove {
		.scale(0);
	}
	 
	&.ng-hide-add,
	&.ng-hide-remove.ng-hide-remove-active {
		.scale(1);
	}
}

@header-height: 85px;

.room-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	height: @header-height;
	text-align: left;
	padding: @screen-padding @screen-padding 0 @screen-padding;
	box-sizing: border-box;
	h1 {
		margin: 0 0 5px 0;
		font-size: 20px;
	}
}

.screen.screen-room {
	padding-top: @header-height + 10px;
}

.post {
	margin: 5px 0 15px;
	display: inline;
}


.posts, .rooms {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	margin: -@screen-padding;
	padding: @screen-padding;
}

// Logo

.logo {
	background: url(../img/logo.svg);
	background-size: 100% 100%;
	width: 100px;
	height: 40px;
	display: inline-block;
	&.logo-large {
		width: 270px;
		height: 108px;
		margin: 3% 0 4%;
	}
}


// Avatar

.avatar {
	display: inline-block;
	background: red;
	&.avatar-small { width: 30px; height: 30px; }
	&.avatar-medium { width: 70px; height: 70px; }
	&.avatar-large { width: 150px; height: 150px; }
}

// Nav

nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	height: @nav-height;
	font-size: 32px;

	ul {
		width: 100%;
		height: @nav-height - 3px;
		line-height: @nav-height + 3px;
		li {
			display: inline-block;
			width: 19%;
			height: 100%;
			a {
				display: block;
				color: #ddd;
				width: 100%;
				height: 100%;
				/*i {
					//display: inline-block;
					width: 100%;
					height: 100%;
					line-height: @nav-height + 4px;
					
				}*/
			}
		}
	}
}

// Testing 
.screen-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: #555;
	z-index: 40;
}


// Other

.above {
	text-align: left;
	.avatar {
		display: inline-block;
	}

	.meta {
		display: inline-block;
		.name, .room {
			font-weight: bold;
		}
	}
}

.msg {
	.input-dimensions;
	background: fade(#111, 20%);
	border: 1px solid fade(#111, 40%);
	padding: 10px;
	color: #111;
	font-weight: bold;
	border-radius: 3px;
	&.msg-error {
		background: fade(@red, 20%);
		border-color: fade(@red, 40%);
		color: @red;
	}
}
