@import "../bower_components/lesshat/build/lesshat.less";

// variables

@screen-padding: 18px;
@nav-height: 60px;
@orange: #e69138;
@blue: #3c78d8;
@red: #cc4125;


// Mixins

// Fonts


@font-face {
	font-family: Questrial;
	src: url(Questrial-Regular.ttf);
	font-weight: 200;
}

@font-face {
	font-family: FugazOne;
	src: url(FugazOne-Regular.ttf);
	font-weight: 400;
}


body, p, input {
	font-family: Questrial, Verdana, sans-serif; 
}

h1 {
	font-weight: normal;
	font-family: FugazOne;
	font-size: 32px;
	margin: 3% 0 6%;
}

h2 {
	font-weight: normal;
	margin: 0 0 5%;
}

a {
	text-decoration: none;
	color: #666;
}

.screen {
	font-size: 22px;
}

// Inputs

.input-dimensions {
	display: block;
	box-sizing: border-box;
	margin: 8px auto 20px;
	width: 100%;
	max-width: 400px;
}

button {
	.input-dimensions;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 24px;
	background: #777;
	border: 0;
	color: white;
	padding: 20px 0 16px 0;
	font-weight: bold;
	.box-shadow(0px 4px 1px -1px rgba(0, 0, 0, 0.68));
	border-radius: 3px;
	font-family: FugazOne;
	text-transform: uppercase;
	.transition(box-shadow 0.5s ease);
	&.loading {
		background-image: url('loading.gif');
		background-repeat: no-repeat;
		background-position: center; 
		color: transparent;
	}
	&[disabled] {
		.box-shadow(0px 2px 1px -1px rgba(0, 0, 0, 0.68));
	}
}

.button-danger {
	background: @red !important;
}

label, input[type=text] {
	display: block;
}

input[type=text], input[type=password] {
	.input-dimensions;
	height: 60px;
	font-size: 24px;
	background: white;
	color: #333;
	border: 1px solid #d7d7d7;
	.box-shadow(inset 0 1px 8px -3px rgba(0,0,0,0.3), inset 0px 2px 18px 1px rgba(0, 0, 0, 0.05));
	text-indent: 10px;
	border-radius: 3px;
	.transition(background-color 0.5s ease, box-shadow 0.5s ease);
	&[disabled] {
		background: #eee;
		.box-shadow(inset 0 1px 8px -3px rgba(0,0,0,0.3));
	}
}

label {
	text-align: left;
	font-size: 20px;
	display: none;
}

.camera-button {
	border-radius: 100%;
	width: 80px;
	height: 80px;
	color: transparent;
	position: absolute;
	bottom: 100px;
	left: 40%;
	&.camera-button-cancel {
		left: -40px;
	}
}


// Layout

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	.user-select(none);
}

.screen {
	position: relative;
	padding: @screen-padding;
	text-align: center;
	background: #f1f1f1;
	color: #222;
	overflow: hidden;
	box-sizing: border-box;
	//overflow-y: auto;
	padding-bottom: @nav-height + @screen-padding;
}

.app .screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.all-screens {
	background: black;
	.screen {
		margin: 18px;
	}
}

.bottom {
	position: absolute;
	bottom: @nav-height;
	left: 0;
	right: 0;
	padding: 0 @screen-padding @screen-padding + 10px @screen-padding;

	&.bottom-no-nav {
		bottom: 0;
	}
}

.rect {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	background-size: 100% auto;
	background-position: center;
	&.rect-full {
		width: 100%;
		max-height: 40%;
		min-height: 30%;
		margin: 2px 0;
	}
	&.rect-half {
		width: 45%;
		height: 28%;
		margin: 2px;
	}
	&.rect-overflow {
		position: relative;
		left: -@screen-padding;
		min-height: 50%;
		max-height: 60%;
		width:  115%;
		margin: 2px 0;
	}
	&.rect-wide {
		position: relative;
		left: -@screen-padding;
		width: 115%;
		height: 20%;
		img {
			width: 100%;
		}
	}
}

.top-left-button, .top-right-button {
	position: absolute;
	top: 0;
	margin: 0;
	background: @orange;
	width: 80px;
	height: 80px;
	font-size: 30px;
	padding-top: 6px;
	z-index: 50;
	.box-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.top-left-button {
	left: 0;
	border-radius: 0 0 100% 0;
	padding-left: 16px;
	text-align: left;
	line-height: 10px;
}

.top-right-button {
	right: 0;
	padding-right: 16px;
	text-align: right;
	border-radius: 0 0 0 100%;
}

.top-right-bubble-buttons {
	position: absolute;
	z-index: 49;
	top: 0;
	right: 0;
	width: 220px;
	height: 220px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 0 0 0 100%;
	button {
		position: absolute;
		border-radius: 100%;
		width: 60px;
		height: 60px;
		background: #333;
		.box-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	}
	button:nth-child(1) { right: 145px; top: 2px; }
	button:nth-child(2) { right: 120px; top: 70px; }
	button:nth-child(3) { right: 70px; top: 120px; }
	button:nth-child(4) { right: 2px; top: 145px; }

	&.ng-hide-add, 
	&.ng-hide-remove {
		.transition(transform 0.3s ease);
		.transform-origin(100%, 0);
		display: block !important;
	}
	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove {
		.scale(0);
	}
	 
	&.ng-hide-add,
	&.ng-hide-remove.ng-hide-remove-active {
		.scale(1);
	}
}

@header-height: 85px;

.post.room-info {
	.above {
		margin-bottom: 20px;
	}
	h1 {
		margin: 0 0 5px 0;
		font-size: 20px;
	}
}

.post {
	display: inline;

	.above, .below {
		background: white;
		.box-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
	}

	.above {
		padding: 12px 12px 8px 12px;
		text-align: left;
		margin: 0 0 0 0;
		white-space: nowrap;

		.avatar {
			display: inline-block;
			vertical-align: top;
		}

		.meta {
			white-space: normal;
			display: inline-block;
			margin-left: 6px;
			margin-right: 12px;
			.name, .room {
				font-weight: bold;
			}
			.date {
				color: #ccc;
				display: block;
			}
		}
	}

	.below {
		margin-top: -8px;
		height: 15px;
		margin-bottom: 20px;
	}
	.rect {
		margin: 0;
	}
}

.room {
	display: inline;
	.name {
		position: absolute;
		bottom: 0px;
		color: white;
		background: rgba(0, 0, 0, 0.5);
		left: 0;
		padding: 10px @screen-padding 10px;
		font-size: 30px;
	}
}


.posts, .rooms {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	margin: -@screen-padding;
	padding: @screen-padding;
}

.interests {
	height: 60%;
	li {
		display: inline;
		a.rect.rect-half {
			max-height: 30%;
			&.selected {
				outline: 3px solid @orange;
			}
		}
	}
}

// Logo

.logo {
	background: url(../img/logo.svg);
	background-size: 100% 100%;
	width: 100px;
	height: 40px;
	display: inline-block;
	&.logo-large {
		width: 240px;
		height: 96px;
		margin: 3% 0 4%;
	}
}


// Avatar

.avatar {
	display: inline-block;
	background: red;
	&.avatar-small { width: 30px; height: 30px; }
	&.avatar-medium { width: 70px; height: 70px; }
	&.avatar-large { width: 150px; height: 150px; }
}

// Nav

nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(50, 50, 50, 0.9);
	height: @nav-height;
	font-size: 32px;

	ul {
		width: 100%;
		height: @nav-height;
		line-height: @nav-height + 3px;
		li {
			display: inline-block;
			width: 20%;
			height: 100%;
			a {
				display: block;
				color: #ddd;
				width: 100%;
				height: 100%;
			}
			&.nav-scan {
				background: fade(@orange, 90%);
			}
			&.nav-active {
				background: fade(#000000, 50%);
			}
		}
	}
}

// Testing 
.screen-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: #555;
	z-index: 40;
}


// Other


.msg {
	.input-dimensions;
	margin-top: 25px;
	background: fade(#111, 20%);
	border: 1px solid fade(#111, 10%);
	padding: 10px;
	color: #111;
	font-weight: bold;
	border-radius: 3px;
	&.msg-error {
		background: fade(@red, 15%);
		border-color: fade(@red, 18%);
		color: @red;
	}
}


.fade {
	&.ng-hide-add, 
	&.ng-hide-remove {
		.transition(opacity 0.3s ease);
		display: block !important;
	}
	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove {
		.opacity(0);
	}
	 
	&.ng-hide-add,
	&.ng-hide-remove.ng-hide-remove-active {
		.opacity(1);
	}
}

.fill-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}