<nav-top title="'Rooms'"></nav-top>

<div class="content content-nav-top content-nav-bottom">

	<a ng-repeat="room in rooms" href="#/room/{{ room.id }}" style="display: block; padding: 10px;">
		<span class="name">Room: {{ room.name }}</span>
		<!-- <div ng-if="!noHoneycomb" ng-controller="rooms" ng-include="'templates/posts.html'"></div> -->
	</a>

	<li ng-if="!rooms.length" class="msg msg-info">
		<p><strong>You are not in any rooms.</strong></p>
		<p>Join rooms by scanning barcodes</p>
	</li>

</div>

<nav-bottom></nav-bottom>