<h1>Tap things you're interested in</h1>

<form>
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">

	<div class="bottom bottom-no-nav">
		<button>Skip</button>
		<button type="submit">Continue</button>
	</div>
</form>