<h2>Tap things you're interested in</h2>

<form>
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">
	<img src="../img/placeholder.jpg" class="rect rect-half">

	<button type="submit">Continue</button>
</form>

<div class="bottom bottom-no-nav">
	<a href="">Skip</a>
</div>