<div class="logo logo-large"></div>

<form ng-submit="submit()">
	<label for="inputLoginUsername">Username</label>
	<input ng-model="username" type="text" name="inputLoginUsername" placeholder="Username" ng-disabled="loading" required>

	<label for="inputLoginPassword">Password</label>
	<input ng-model="password" type="password" name="inputLoginPassword" placeholder="Password" ng-disabled="loading" required>

	<button type="submit" ng-class="{ loading: loading }"  ng-disabled="loading">Log in</button>
	
	<div class="msg msg-error" ng-if="error">{{ error }}</div>
</form>

<div class="bottom bottom-no-nav fade" ng-hide="loading">
	<a href="#/register">Create an account</a>
</div>