<button class="top-right-button" ng-if="own"><i class="fa fa-plus"></i></button>

<div class="avatar avatar-medium" ng-click="go('/avatar')">
</div>
<div class="user-info">
	<div class="user-username">{{ person.attributes.username }}</div>
	<div class="user-biography">{{ person.attributes.biography }}</div>
</div>

<div class="user-info">
	<input type="text" ng-model="user.attributes.username" class="user-username">
	<input type="text" ng-model="user.attributes.biography" class="user-biography">
</div>

<div class="user-buttons" ng-if="!own">
	<button>Add friend</button>
	<button>Message</button>
</div>

<div class="user-buttons" ng-if="own">
	<button ng-click="person.auth.logout()">Log out</button>
</div>

<ul class="user-medias">
	<li class="user-media" ng-repeat="media in medias">
		<img placeholder ng-class="rect rect-{{ media.size }}">
	</li>
</ul>
