<h1>Register</h1>

<form ng-submit="submit()">
	<label for="inputRegisterUsername">Username</label>
	<input ng-model="username" type="text" name="inputRegisterUsername" placeholder="Username" ng-disabled="loading" required>

	<label for="inputRegisterPassword">Password</label>
	<input ng-model="password" type="password" name="inputRegisterPassword" placeholder="Password" ng-disabled="loading" required>

	<label for="inputRegisterPassword2">Confirm password</label>
	<input ng-model="password2" type="password" name="inputRegisterPassword2" placeholder="Confirm password" ng-disabled="loading" required>

	<button type="submit" ng-class="{ loading: loading }" ng-disabled="loading">Join</button>
	
	<div class="msg msg-error" ng-if="error">{{ error.message }}</div>

	<div class="bottom bottom-no-nav fade" ng-hide="loading">
		<a href="#/start">I already have an account</a>
	</div>
</form>