<h1>Register</h1>

<form>
	<label for="inputRegisterUsername">Username</label>
	<input type="text" name="inputRegisterUsername" placeholder="Username">

	<label for="inputRegisterPassword">Password</label>
	<input type="password" name="inputRegisterPassword" placeholder="Password">

	<label for="inputRegisterPassword2">Confirm password</label>
	<input type="password" name="inputRegisterPassword2" placeholder="Confirm password">

	<button type="submit">Join</button>
	
	<div class="msg msg-error">{{ error.message }}</div>

	<div class="bottom bottom-no-nav">
		<a href="">I already have an account</a>
	</div>
</form>