<h1>Register</h1>

<form ng-submit="register.submit()">
	<label for="inputRegisterUsername">Username</label>
	<input ng-model="register.username" type="text" name="inputRegisterUsername" placeholder="Username" ng-disabled="register.loading" required>

	<label for="inputRegisterPassword">Password</label>
	<input ng-model="register.password" type="password" name="inputRegisterPassword" placeholder="Password" ng-disabled="register.loading" required>

	<label for="inputRegisterPassword2">Confirm password</label>
	<input ng-model="register.password2" type="password" name="inputRegisterPassword2" placeholder="Confirm password" ng-disabled="register.loading" required>

	<button type="submit" ng-class="{ loading: register.loading }" ng-disabled="register.loading">Join</button>
	
	<div class="msg msg-error" ng-if="register.error">{{ register.error.message }}</div>

	<div class="bottom bottom-no-nav fade" ng-hide="register.loading">
		<a href="#/start">I already have an account</a>
	</div>
</form>