<button class="top-right-button"><i class="fa fa-plus"></i></button>

<div class="top-right-bubble-buttons">
	<button><i class="fa fa-camera"></i></button>
	<button><i class="fa fa-video-camera"></i></button>
	<button><i class="fa fa-music"></i></button>
	<button><i class="fa fa-font"></i></button>
</div>

<div class="room-info">
	<h1>{{ room.name }}</h1>
	<div class="room-origin">Origin: {{ room.link }}</div>
</div>

<ul class="posts">
	<li class="post" ng-repeat="post in posts">
		<div class="above">
			<div class="avatar avatar-small">
			</div>
			<div class="meta">
				<span class="name">{{ post.person.username }}</span>
				posted in
				<span class="room">{{ post.room.name }}</span>
			</div>
		</div>
		<img src="../img/placeholder.jpg" class="rect rect-full">
	</li>
</ul>

<nav></nav>