<button class="top-right-button" ng-click="showBubbles = true" ng-show="!showBubbles"><i class="fa fa-plus"></i></button>
<button class="top-right-button button-danger" ng-click="showBubbles = false" ng-show="showBubbles"><i class="fa fa-times"></i></button>

<div class="top-right-bubble-buttons" ng-show="showBubbles">
	<button><i class="fa fa-camera"></i></button>
	<button><i class="fa fa-video-camera"></i></button>
	<button><i class="fa fa-music"></i></button>
	<button><i class="fa fa-font"></i></button>
</div>

<div class="room-info">
	<h1>{{ room.name }}</h1>
	<div class="room-origin">Origin: {{ room.link }}</div>
</div>

<ul class="posts">
	<li class="post" ng-repeat="post in posts">
		<div class="above">
			<div class="avatar avatar-small">
			</div>
			<div class="meta">
				<span class="name">{{ post.person.username }}</span>
				posted in
				<span class="room">{{ post.room.name }}</span>
			</div>
		</div>
		<div class="rect rect-overflow"><img placeholder></div>
	</li>
</ul>

<nav></nav>