<button class="top-right-button" ng-click="showBubbles = true" ng-show="!showBubbles"><i class="fa fa-plus"></i></button>
<button class="top-right-button button-danger" ng-click="showBubbles = false" ng-show="showBubbles"><i class="fa fa-times"></i></button>

<div class="top-right-bubble-buttons" ng-show="showBubbles">
	<button><i class="fa fa-camera"></i></button>
	<button><i class="fa fa-video-camera"></i></button>
	<button><i class="fa fa-music"></i></button>
	<button><i class="fa fa-font"></i></button>
</div>

<ul class="posts">
	<li class="post room-info">
		<div class="above">
			<h1>{{ room.attributes.name }}</h1>
			<div class="room-origin">Origin: {{ room.link }}</div>
		</div>
	</li>
	<li class="post" ng-repeat="post in room.posts.models" ng-include="'../templates/post.html'"></li>
</ul>

<nav></nav>