
<ul class="posts" ng-if="noHoneycomb">
	<li class="post" ng-repeat="post in posts.models" ng-include="'templates/post.html'"></li>
</ul>

<div class="honeycomb" ng-if="!noHoneycomb">
	<svg	xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="100%"
			ng-attr-height="{{ posts.honeycomb.rowCount * 83 }}">
		<defs>
			<pattern ng-attr-id="img-{{ cell.id }}" width="1" height="1" ng-repeat="cell in posts.honeycomb.cells">
				<image xlink:href="img/empty.png" ng-xlink-href="{{ cell.url }}" x="0" y="0" ng-attr-width="{{ posts.honeycomb.cellWidth }}" ng-attr-height="{{ posts.honeycomb.cellWidth }}" preserveAspectRatio="xMidYMid slice" />
			</pattern>
		</defs>
		<path 	class="hexagon"
				ng-repeat="cell in posts.honeycomb.cells"
				ng-attr-d="{{ cell.path }}"
				ng-attr-fill="{{ cell.fill }}"
				ng-click="go('/post/' + cell.post.id)"></path>
	</svg>
</image>