<div class="above">
	<div class="avatar avatar-small">
	</div>
	<div class="meta">
		<a class="name" href="#/profile/{{ post.attributes.person.id }}">{{ post.attributes.person.username }}</a>
		posted in
		<a class="room" href="#/room/{{ post.attributes.room.id }}">{{ post.attributes.room.name }}</a>
		<span class="date">13:00, 12-12-2014</span>
	</div>
</div>
<div class="rect rect-overflow media media-picture" style="background-image:url({{ post.attributes.url }})"></div>
<div class="below">
	<ul>
		<li>Like</li><li>Comment</li>
	</ul>
</div>