<!doctype html>
<html ng-app ng-controller="App">
<head>
	<title ng-bind="'LeapIn.it - ' + title">LeapIn.it</title>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

	
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<style type="text/css">
		svg {
			background: #000;
			position: fixed;
			right: 20px;
			top: 20px;
		}
		#json {
			position: fixed;
			top: 20px;
			right: 260px;
			width: 400px;
			bottom: 20px;
		}
		#randomAvatar {
			position: fixed;
			top: 260px;
			right: 20px;
			width: 200px;
			height: 70px;
		}
	</style>
<script type="text/javascript">
//$(function () {
	/*var paper = Raphael(10, 10, 200, 200);
	//var circle = paper.circle(100, 100, 60);

	var path = [
		'M', 100, 20,
		'L', 160, 40,
		'L', 180, 100,
		'L', 160, 160,
		'L', 100, 180,
		'L', 40, 160,
		'L', 20, 100,
		'L', 40, 40,
		'L', 100, 20
	].join(' ');
	console.log(path)

	var face = paper.path(path);

	face.attr('fill', '#f00');*/
	//face.attr('stroke-width', '0');
//});

//http://stackoverflow.com/questions/4959975/generate-random-value-between-two-numbers-in-javascript
function randBetween (min, max) {
	return Math.floor(Math.random()*(max-min+1)+min);
}

var avatarConstraints = {
	face: {
		crown: { value: 30, min: 20, max: 60 },
		cranium: { value: 35, min: 28, max: 50 },
		side: { value: 30, min: 22, max: 45 },
		cheek: { value: 40, min: 25, max: 50 },
		jaw: { value: 16, min: 16, max: 50 },
	},
	eyes: {
		width: { value: 10, min: 1, max: 25 },
		height: { value: 8, min: 1, max: 25 },
		x: { value: 16, min: 2, max: 32 },
		y: { value: 13, min: -10, max: 40 },
		rotation: { value: 45, min: -90, max: 90 },
	},
	nose: {
		width: { value: 4, min: 1, max: 30 },
		height: { value: 3, min: 1, max: 15 },
		y: { value: -11, min: -30, max: 15 },
	},
	mouth: {
		leftx: { value: 4, min: 1, max: 20 },
		lefty: { value: 4, min: -20, max: 15 },
		rightx: { value: 4, min: 1, max: 20 },
		righty: { value: 4, min: -20, max: 15 },
		y: { value: 5, min: -10, max: 15 },
		lips: { value: 3, min: 1, max: 10 }
	}
};


var App = function ($scope) {
	$scope.random = function () {
		_.each(avatarConstraints, function (o, k1) {
			_.each(o, function (v, k2) {
				$scope.avatar[k1][k2] = randBetween(v.min, v.max);
			});
		});
	};
	_.extend($scope, {
		avatar: {
			size: 200,
			color: '#000000',
			face: {
				crown: 20,
				cranium: 35,
				side: 30,
				cheek: 40,
				jaw: 15
			},
			eyes: {
				width: 10,
				height: 8,
				x: 16,
				y: 13,
				rotation: 45
			},
			nose: {
				width: 4,
				height: 3,
				y: -11
			},
			mouth: {
				leftx: 4,
				lefty: 4,
				rightx: 4,
				righty: 4,
				y: 5,
				lips: 1
			},
		},
		svg: {
			
		}
	});
	$scope.$watch('avatar', function (avatar) {
		var svg = {
			color: avatar.color,
			size: avatar.size
		};

		var scale = svg.size / 100,
			aF = avatar.face,
			aE = avatar.eyes,
			aN = avatar.nose,
			aM = avatar.mouth,
			m = Math.cos(Math.PI / 4);;

		svg.face = {
			path: generatePath([
				[10 + m * aF.cranium, 10 + m * aF.cranium],
				[50, aF.crown, 90 - m * aF.cranium, 10 + m * aF.cranium],
				[100 - aF.side, 50, 90 - m * aF.cheek, 90 - m * aF.cheek],
				[50, 100 - aF.jaw, 10 + m * aF.cheek, 90 - m * aF.cheek],
				[aF.side, 50, 10 + m * aF.cranium, 10 + m * aF.cranium],
				[50, aF.crown, 90 - m * aF.cranium, 10 + m * aF.cranium]
			], svg.size)
		};
		
		svg.eyes = _.map(['left', 'right'], function (i) {
			var k = (i === 'left' ? -1 : 1);
			var ellipse = {
				cx: 50 + k * aE.x,
				cy: 50 - aE.y,
				rx: aE.width,
				ry: aE.height,
				rotation: k * aE.rotation
			};
			_.each(ellipse, function (v, k) {
				ellipse[k] = ellipse[k] * scale;
			});
			return ellipse;
		});

		var ellipse = {
			cx: 50,
			cy: 50 - aN.y,
			rx: aN.width,
			ry: aN.height
		};
		_.each(ellipse, function (v, k) {
			ellipse[k] = ellipse[k] * scale;
		});
		svg.nose = ellipse;

		var points = [
			[50 - aM.leftx, 75 + aM.y + aM.lefty],
			[50 - aM.leftx, 75 + aM.y],
			[50 + aM.rightx, 75 + aM.y + aM.righty]
		];
		points[1][0] = (points[0][0] + points[2][0]) / 2;
		svg.mouth = {
			path: generatePath(points, svg.size, 'S'),
			lips: scale * aM.lips
		};

		$scope.svg = svg;
		$scope.json = JSON.stringify(avatar, null, '\t');
	}, true);
};

function generatePath (points_, size, curve) {
	curve = curve || 'Q';
	var scale = size / 100; 
	points = _.map(points_, function (point) {
		return _.map(point, function (p) {
			return p * scale;
		});
	});
	//points.push(points[0]); // complete the circle
	return _.reduce(points, function (path, point, i) {
		var parts = [i === 0 ? 'M' : point.length === 2 ? 'L' : curve].concat(point);
		return path.concat([parts.join(' ')]);
	}, []).join(' ');
}

</script>
</head>
<body>
	<table>
		<tr><th>Face</th></tr>
		<tr><td>Crown</td><td><input type="number" ng-model="avatar.face.crown"></td></tr>
		<tr><td>Cranium</td><td><input type="number" ng-model="avatar.face.cranium"></td></tr>
		<tr><td>Side</td><td><input type="number" ng-model="avatar.face.side"></td></tr>
		<tr><td>Cheek</td><td><input type="number" ng-model="avatar.face.cheek"></td></tr>
		<tr><td>Jaw</td><td><input type="number" ng-model="avatar.face.jaw"></td></tr>
		<tr><th>Eyes</th>
		<tr><td>Width</td><td><input type="number" ng-model="avatar.eyes.width"></td></tr>
		<tr><td>Height</td><td><input type="number" ng-model="avatar.eyes.height"></td></tr>
		<tr><td>X</td><td><input type="number" ng-model="avatar.eyes.x"></td></tr>
		<tr><td>Y</td><td><input type="number" ng-model="avatar.eyes.y"></td></tr>
		<tr><td>Rotation</td><td><input type="number" ng-model="avatar.eyes.rotation"></td></tr>
		<tr><th>Nose</th>
		<tr><td>Width</td><td><input type="number" ng-model="avatar.nose.width"></td></tr>
		<tr><td>Height</td><td><input type="number" ng-model="avatar.nose.height"></td></tr>
		<tr><td>Y</td><td><input type="number" ng-model="avatar.nose.y"></td></tr>
		<tr><th>Mouth</th>
		<tr><td>Left X</td><td><input type="number" ng-model="avatar.mouth.leftx"></td></tr>
		<tr><td>Left Y</td><td><input type="number" ng-model="avatar.mouth.lefty"></td></tr>
		<tr><td>Right X</td><td><input type="number" ng-model="avatar.mouth.rightx"></td></tr>
		<tr><td>Right Y</td><td><input type="number" ng-model="avatar.mouth.righty"></td></tr>
		<tr><td>Y</td><td><input type="number" ng-model="avatar.mouth.y"></td></tr>
		<tr><td>Lips</td><td><input type="number" ng-model="avatar.mouth.lips"></td></tr>
	</table>
	<textarea id="json">{{ json }}</textarea>
	<button id="randomAvatar" ng-click="random()">Random</button>
	<svg width="200" height="200">
		<ellipse ng-attr-cx="{{ svg.size / 2 }}" ng-attr-cy="{{ svg.size / 2 }}" ng-attr-rx="{{ svg.size / 3.3 }}" ng-attr-ry="{{ svg.size / 3.3 }}" ng-attr-fill="{{ svg.fill }}" stroke-width="0"></ellipse>

		<path fill="transparent" stroke="#ffffff" ng-attr-stroke-width="{{ svg.size / 2.3 }}" ng-attr-d="{{ svg.face.path }}" stroke-linejoin="round"></path>

		<ellipse ng-attr-cx="{{ eye.cx }}" ng-attr-cy="{{ eye.cy }}" ng-attr-rx="{{ eye.rx }}" ng-attr-ry="{{ eye.ry }}" ng-attr-fill="{{ svg.color }}" stroke-width="0" ng-repeat="eye in svg.eyes" ng-attr-transform="rotate({{ eye.rotation }}, {{ eye.cx }}, {{ eye.cy }})"></ellipse>

		<ellipse ng-attr-cx="{{ svg.nose.cx }}" ng-attr-cy="{{ svg.nose.cy }}" ng-attr-rx="{{ svg.nose.rx }}" ng-attr-ry="{{ svg.nose.ry }}" ng-attr-fill="{{ svg.color }}" stroke-width="0"></ellipse>

		<path fill="transparent" ng-attr-stroke="{{ svg.color }}" ng-attr-stroke-width="{{ svg.mouth.lips }}" ng-attr-d="{{ svg.mouth.path }}" stroke-linejoin="round"></path>
       />
	</svg>
</body>
</html>