<div class="content" ng-class="{ loading: !user && !error }" id="maincontent">
	<error value="error"></error>

	<div ng-if="user && !user.username">
		<h1>Anonymous</h1>
		<button ui-sref="edituser({ signup: true })">Create a nickname</button>
		<button ui-sref="signin">Use existing nickname</button>
	</div>

	<div ng-if="user && user.username">
		<h1>{{ user.username }}</h1>
		<button ui-sref="edituser" class="item">Change password</button>
	</div>

	<button ui-sref="privacy" class="item">Privacy policy</button>

	<!-- <a ui-sref="" class="item">Permissions</a> -->

	<!-- <a ui-sref="" class="item">Version</a> -->

	<h1 ng-if="posts">Your posts</h1>

	<post ng-repeat="id in posts" id="id" show-card="true" show-interaction="true"></post>

	<div ng-if="posts.length === 0" class="msg">
		<p>You haven't made any posts.</p>
	</div> 
	
</div>