<div class="content" ng-class="{ loading: !userRooms && !error }" id="maincontent">
	<error error="error"></error>

	<h1 ng-if="userRooms">Rooms you are in</h1>
	<room room="room" ng-repeat="id in userRooms" id="id"></room>
	<div ng-if="userRooms.length === 0" class="msg msg-info">
		<p><strong>You are not in any rooms.</strong></p>
		<p>Join rooms by scanning barcodes</p>
	</div>

	<h1 ng-if="popularRooms">Popular rooms</h1>
	<room room="room" ng-repeat="id in popularRooms" id="id"></room>
</div>

