<div class="msg msg-error" ng-if="error">{{ error }}</div>

<div class="header">
	<ul>

		<li ng-if="own && !showEdit" ng-click="toggleEdit(true)">
			<div class="number">Edit</div>
			<div class="noun">profile</div>

		</li><li ng-if="own && showEdit" ng-click="save()">
			<div class="number">Save</div>
			<div class="noun">profile</div>

		</li><li ng-if="own && showEdit" ng-click="toggleEdit(false)">
			<div class="number">Cancel</div>
			<div class="noun">edit</div>

		</li><li ng-if="!own && !isFriend()">
			<div class="number">Add</div>
			<div class="noun">friend</div>

		</li><li ng-if="!own && isFriend()">
			<div class="number">Remove</div>
			<div class="noun">friend</div>

		</li><li ng-if="showContact" ng-click="toggleContact(false)">
			<div class="number">Back</div>
			<div class="noun">to profile</div>

		</li><li ng-if="!showContact && !showEdit && (own || isFriend()) " ng-click="toggleContact(true)">
			<div class="number">Contact</div>
			<div class="noun">info</div>
		</li>
	</ul>
</div>

<div class="avatar avatar-medium" avatar="person.attributes.avatar" ng-if="!own"></div>
<div class="avatar avatar-medium" avatar="person.attributes.avatar" ng-if="own" ng-click="go('/avatar')"></div>


<div class="person-info" ng-if="!showContact">
	<div ng-if="!showEdit">
		<div class="person-username">{{ person.attributes.username }}</div>
		<div class="person-biography">{{ person.attributes.biography }}</div>
	</div>
	<div ng-if="own && showEdit">
		<input type="text" ng-model="edit.username" class="person-username">
		<textarea ng-model="edit.biography" class="person-biography"></textarea>
	</div>
</div>

<ul class="contact" ng-if="showContact">
	<li ng-repeat="(type, contact) in person.contact">
		<i class="fa {{ contactIcon[type] }}"></i>
		{{ type }}
	</li>
</ul>

