<div class="msg msg-error" ng-if="error">{{ error }}</div>

<div class="avatar avatar-medium" avatar="person.attributes.avatar" ng-if="!own"></div>
<div class="avatar avatar-medium" avatar="person.attributes.avatar" ng-if="own" ng-click="go('/avatar')"></div>

</div>
<div class="person-info" ng-if="!edit">
	<div class="person-username">{{ person.attributes.username }}</div>
	<div class="person-biography">{{ person.attributes.biography }}</div>

	<div class="bottom" ng-if="own">
		<button ng-click="setEdit()">Edit</button>
	</div>
</div>

<div class="person-info" ng-if="own && edit">
	<input type="text" ng-model="edit.username" class="person-username">
	<textarea ng-model="edit.biography" class="person-biography"></textarea>
	<div class="bottom">
		<button ng-click="save()" ng-class="{ loading: loading }">Save</button>
		<button ng-click="cancel()">Cancel</button>
	</div>
</div>

<div ng-if="!own" class="bottom">
	<button>Add friend</button>
</div>
