<div ng-if="room.fetching && posts.length === 0" class="loading loading-light"></div>

<div class="msg msg-error" ng-if="error">{{ error }}</div>

<div ng-if="!room.fetching && !room.attributes.name">
	<p><strong>You are the first resident in this room!</strong></p>
	<p>What you want to name this room?</p>
	<form ng-submit="setName()">
		<input type="text" placeholder="e.g., big planes" ng-model="room.newName">
		<button type="submit">OK</button>
	</form>
</div>

<div ng-if="room.attributes.name">
	<div class="header" ng-show="!showResidents">
		<ul>
			<li>
				Code: 
				<pre>{{ room.attributes.code }}</pre>
			</li><li ng-click="showResidents = true">
				<div class="number">{{ room.residents.length }}</div>
				<div class="noun">residents</div>
				<i class="fa fa-chevron-right"></i>
			</li>
		</ul>
	</div>

	<div ng-if="!posts.empty()" ng-show="!showResidents" ng-include="'templates/posts.html'" class="inline-container"></div>

	<div ng-if="posts.empty()" class="msg msg-info">
		<p><strong>There are no posts in this room.</strong></p>
		<p>Why not add something by tapping <i class="fa fa-plus"></i> above?</p>
	</div>

	<div class="scroller">
		<div class="header" ng-show="showResidents">
			<ul><li ng-click="showResidents = false">
					<div class="number">Back</div>
					<div class="noun">to posts</div>
					<i class="fa fa-chevron-left"></i>
				</li><li ng-click="leave()">
					<div class="number">Leave</div>
					<div class="noun">this room</div>
				</li>
			</ul>
		</div>

		<div class="residents" ng-show="showResidents">
			<ul class="people">
				<li class="person" ng-repeat="person in room.residents.models" ng-include="'templates/person.html'"></li>
			</ul>
		</div>
	</div>
</div>