
<div class="top-right-bubble-buttons" ng-show="showBubbles">
	<ul>
		<li class="button"><i class="fa fa-camera"></i><input type="file" name="files[]" multiple fileupload></li>
		<li class="button"><i class="fa fa-video-camera"></i><input type="file" name="files[]" multiple fileupload></li>
		<li class="button" ng-click="addText()"><i class="fa fa-font"></i></li>
	</ul>
</div>

<div class="header" ng-show="!showResidents">
	<ul>
		<li>
			Code: 
			<pre>{{ room.attributes.code }}</pre>
		</li><li ng-click="showResidents = true">
			<div class="number">{{ room.residents.length }}</div>
			<div class="noun">residents</div>
			<i class="fa fa-chevron-right"></i>
		</li>
	</ul>
</div>

<div ng-show="!showResidents" ng-include="'templates/posts.html'" class="inline-container"></div>

<div class="header" ng-show="showResidents">
	<ul><li ng-click="showResidents = false">
			<div class="noun">Back to posts</div>
			<i class="fa fa-chevron-left"></i>
		</li><li ng-click="room.leave()">
			Leave this room
		</li>
	</ul>
</div>

<div class="residents" ng-show="showResidents">
	Residents in {{ room.attributes.name }}:
	<ul class="people">
		<li class="person" ng-repeat="person in room.residents.models" ng-include="'templates/person.html'"></li>
	</ul>
</div>