
<ul class="posts" ng-if="noHoneycomb">
	<li class="post" ng-repeat="post in posts.models" ng-include="'templates/post.html'"></li>
</ul>

<div class="honeycomb" ng-if="!noHoneycomb">
	<div 	ng-repeat="cell in posts.honeycomb.cells"
			class="cell"
			style="
				left: {{ cell.x }}px; 
				top: {{ cell.y }}px; 
				background-image: {{ cell.bg }};
				width: {{ posts.honeycomb.cellWidth }}px;
				height: {{ posts.honeycomb.cellHeight }}px;"
			ng-click="go('/room/' + cell.post.attributes.room_id + '/post/' + cell.post.id)">
	</div>
</div>