<div class="toolbar" reactive-scroll>
	
	<div class="toolbar-left" ng-if="::showTitle">
		<a class="icon" onclick="window.history.go(-1)"><span class="fa fa-angle-left"></span></a>
		<span class="title">{{ ::title }}</span>
	</div>
	<div class="toolbar-left" ng-if="::!showTitle">
		<a class="icon" ui-sref="main.feed" ui-sref-active="active"><span class="fa fa-fire"></span></a>
		<a class="icon" ui-sref="main.rooms" ui-sref-active="active"><span class="fa fa-users"></span></a>
		<a class="icon" ui-sref="main.settings" ui-sref-active="active"><span class="fa fa-user"></span></a>
	</div>

	<div class="toolbar-right" ng-if="::showTitle">
		<div ng-transclude></div>
	</div>

	<div class="toolbar-right" ng-if="::!showTitle">
		<a class="icon" ui-sref="scan"><span class="fa fa-qrcode"></span></a>
	</div>

</div>
