<svg ng-attr-width="{{ svg.size }}" ng-attr-height="{{ svg.size }}" ng-if="svg" ng-attr-style="background-color:{{ svg.bgcolor }}">
	<ellipse ng-attr-cx="{{ svg.size / 2 }}" ng-attr-cy="{{ svg.size / 2 }}" ng-attr-rx="{{ svg.size / 3.3 }}" ng-attr-ry="{{ svg.size / 3.3 }}" ng-attr-fill="{{ svg.fgcolor }}" stroke-width="0"></ellipse>

	<path fill="transparent" ng-attr-stroke="{{ svg.fgcolor }}" ng-attr-stroke-width="{{ svg.size / 2.3 }}" ng-attr-d="{{ svg.face.path }}" stroke-linejoin="round"></path>

	<ellipse ng-attr-cx="{{ eye.cx }}" ng-attr-cy="{{ eye.cy }}" ng-attr-rx="{{ eye.rx }}" ng-attr-ry="{{ eye.ry }}" ng-attr-fill="{{ svg.bgcolor }}" stroke-width="0" ng-repeat="eye in svg.eyes" ng-attr-transform="rotate({{ eye.rotation }}, {{ eye.cx }}, {{ eye.cy }})"></ellipse>

	<ellipse ng-attr-cx="{{ svg.nose.cx }}" ng-attr-cy="{{ svg.nose.cy }}" ng-attr-rx="{{ svg.nose.rx }}" ng-attr-ry="{{ svg.nose.ry }}" ng-attr-fill="{{ svg.bgcolor }}" stroke-width="0"></ellipse>

	<path fill="transparent" ng-attr-stroke="{{ svg.bgcolor }}" ng-attr-stroke-width="{{ svg.mouth.lips }}" ng-attr-d="{{ svg.mouth.path }}" stroke-linejoin="round"></path>
   />
</svg>