<div class="nav-top">
	<a class="left-button" ng-click="opensidenav = !opensidenav">
		<i class="fa fa-bars"></i>
	</a>
	<div class="title">{{ title }}</div>
<!-- 
	<ul>
		<li class="icon">/li>
		<li class="back" ng-show="!add || !adding" ng-if="back"><a ng-click="goBack()">
			<i class="fa fa-chevron-left"></i>
		</a></li>
		<li class="title" ng-show="!add || !adding" ng-click="goBack()">
			{{ title }}
		</li>
		<li class="adding" ng-show="add && adding">
			<ul><li>
					<i class="fa fa-camera"></i><input type="file" name="files[]" multiple fileupload>
				</li><li>
					<i class="fa fa-video-camera"></i><input type="file" name="files[]" multiple fileupload>
				</li><li>
					<a ng-click="add.text()"><i class="fa fa-font"></i></a>
			</li></ul>
		</li>
		<li class="icon icon-right" ng-if="add"><a ng-click="toggleAdd()">
			<i class="fa fa-plus"></i>
		</a>
	</ul> -->


	<!-- <nav class="nav-side" ng-show="opensidenav" ng-click="opensidenav = false">
		<ul>
			<li ng-repeat="item in navSide"
				ng-class="{
					'nav-active': item.screen === name
				}">
					<a 	href="#{{ item.screen }}">
						<i class="fa fa-{{ item.icon }}"></i>
						{{ item.title }}
					</a>
			</li>
			<li>
				<a href="" ng-click="auth.logout()">
					<i class="fa fa-sign-out"></i>
					Logout
				</a>
			</li>
		</ul>
	</nav> -->
</div>
