<toolbar title="room.name" class="toolbar-fade">
	<a ui-sref="room-settings({ roomId: room.id })" class="icon"><span class="fa fa-cog"></span></a> <!-- admin only codes, delete, name -->
</toolbar>

<div class="header">
	<input type="text" ng-model="newPost.message" placeholder="Write something...">
	<a class="icon camera-icon"><span class="fa fa-camera"></span></a>
	<button ng-click="createPost()">Post</button>
</div>

<div class="content content-header">
	<div class="msg msg-error" ng-if="error">{{ error }}</div>

	<!-- <div ng-if="!loading && !room.name">
		<p><strong>You are the first resident in this room!</strong></p>
		<p>What you want to name this room?</p>
		<form ng-submit="setName()">
			<input type="text" placeholder="e.g., big planes" ng-model="room.newName">
			<button type="submit">OK</button>
		</form>
	</div> -->

	<div ng-if="room.name">
		

		<a>Residents: {{ room.residents }}</a><br>
		<a>Codes: {{ room.codes }}</a>

		<post ng-repeat="post in room.posts track by post.id" post="post"></post>

		<div ng-if="!room.posts.length">
			<p><strong>There are no posts in this room.</strong></p>
			<p>Why not add something by tapping <i class="fa fa-plus"></i> above?</p>
		</div>
<!-- 
		<div class="scroller">
			<div class="header" ng-show="showResidents">
				<ul><li ng-click="showResidents = false">
						<div class="number">Back</div>
						<div class="noun">to posts</div>
						<i class="fa fa-chevron-left"></i>
					</li><li ng-click="leave()">
						<div class="number">Leave</div>
						<div class="noun">this room</div>
					</li>
				</ul>
			</div>

			<div class="residents" ng-show="showResidents">
				<ul class="people">
					<li class="person" ng-repeat="person in room.residents.models" ng-include="'templates/person.html'"></li>
				</ul>
			</div>
		</div> -->
	</div>
</div>
