<toolbar title="room.name || 'New room'" class="toolbar-fade" style="background-image: url('/img/test.jpg');">
	<a ui-sref="room-settings({ roomId: room.id })" class="icon"><span class="fa fa-cog"></span></a> <!-- admin only codes, delete, name -->
</toolbar>

<div class="toolbar-overlay">
	{{ room.residentCount }} people &bullet; Code: {{ room.userCode }}
</div>

<div class="header" ng-click="headerActive = true" ng-class="{ active: headerActive }">
	<input type="text" ng-model="newPost.message" placeholder="Write something...">
	<a class="icon camera-icon"><input type="file"><span class="fa fa-camera"></span></a>
	<button ng-click="createPost()">Post</button>
</div>

<div class="header-blur" ng-show="headerActive" ng-click="headerActive = false"></div>

<div class="content content-header">
	<div class="msg msg-error" ng-if="error">{{ error }}</div>

	<div ng-if="!loading && !room.name">
		<p><strong>You are the first person in this room!</strong></p>
		<p>What you want to name this room?</p>
		<form ng-submit="setName()">
			<input type="text" placeholder="e.g., big planes" ng-model="newName.name">
			<button type="submit">OK</button>
			<div class="msg msg-error" ng-if="newName.error">{{ newName.error }}</div>
		</form>
	</div>

	<div ng-if="room.name">
		<post ng-repeat="post in posts track by post.id" post="post" summary="true" class="card"></post>
		<div ng-if="!posts.length">
			<p><strong>There are no posts in this room.</strong></p>
			<p>Why not add something by tapping <i class="fa fa-plus"></i> above?</p>
		</div>
	</div>
</div>
