<toolbar></toolbar>

<div class="content" ng-class="{ loading: loading }">

	<!-- <div ng-if="!user.name && !user.dismissedSignup" class="msg">
		<a ng-click="user.dismissedSignup = true"><span class="fa fa-close"></span></a>
		<h1>Create a nickname</h1>
		<p>Leapin.it is more fun with an account</p>
		<span class="fa fa-users"></span>
		<button ui-sref="signup">Create a nickname</button>
		<a ui-sref="signin">I already have an account</a>
	</div> -->

	<post ng-repeat="post in posts track by post.id" post="post" summary="true" class="card"></post>

	<!-- <div ng-if="!posts.length" class="msg">
		<h1>There are no posts to display in your feed!</h1>
		<p>Press the orange button below to scan a barcode and start recieving posts.</p>
	</div> -->
	
</div>