<toolbar></toolbar>

<div class="content loading" ng-if="!user && !error"></div>

<div class="content" ng-if="user">

	<!-- <div ng-if="!user.name && !user.dismissedSignup" class="msg">
		<a ng-click="user.dismissedSignup = true"><span class="fa fa-close"></span></a>
		<h1>Create a nickname</h1>
		<p>Leapin.it is more fun with an account</p>
		<span class="fa fa-users"></span>
		<button ui-sref="signup">Create a nickname</button>
		<a ui-sref="signin">I already have an account</a>
	</div> -->

	<!-- <div infinite-scroll="more()" infinite-scroll-distance="2" infinite-scroll-immediate-check="false" infinite-scroll-listen-for-event="got_feed"> -->
	<post ng-repeat="id in feed" id="id" show-card="true" show-interaction="true"></post>
	

	<div ng-if="!feed.length" class="msg">
		<h1>There are no posts to display in your feed!</h1>
		<p>Press the scan button above to scan a barcode and start recieving posts.</p>
	</div>
	
</div>

<error error="error"></error>