<div class="content">
	<h1>Sign up</h1>

	<form ng-submit="submit()">
		<input ng-model="username" type="text" placeholder="Username" ng-disabled="loading" required>
		<input ng-model="password" type="password" placeholder="Password" ng-disabled="loading" required>
		<input ng-model="password2" type="password" placeholder="Confirm password" ng-disabled="loading" required>
		<button type="submit" ng-class="{ loading: loading }" ng-disabled="loading">Join</button>
		<div class="msg msg-error" ng-if="error">{{ error }}</div>
	</form>

	<div class="bottom bottom-no-nav fade" ng-hide="loading">
		<a ui-sref="signin">I already have an account</a>
	</div>

</div>
