<toolbar></toolbar>

<div class="content">
	<div ng-if="!user.username">
		<h1>Anonymous</h1>
		<button ui-sref="signup">Create a nickname</button>
		<button ui-sref="signin">Use existing nickname</button>
	</div>

	<div ng-if="user.username">
		<h1>{{ user.username }}</h1>
		<button ui-sref="password" class="item">Change password</button>
	</div>

	<!-- <a ui-sref="" class="item">Permissions</a> -->

	<!-- <a ui-sref="" class="item">Version</a> -->

	<h1>Your posts</h1>

	<post ng-repeat="post in posts track by post.id" post="post" summary="true" class="card"></post>
</div>

