<toolbar></toolbar>

<div class="content">
	<div ng-if="!user.nickname">
		<h1>Anonymous</h1>

		<a ui-sref="signup" class="item">Create a nickname</a>

		<a ui-sref="signin" class="item">Use existing nickname</a>
	</div>

	<div ng-if="user.nickname">
		<h1>{{ user.nickname }}</h1>

		<a ui-sref="password" class="item">Change password</a>
	</div>

	<!-- <a ui-sref="" class="item">Permissions</a> -->

	<!-- <a ui-sref="" class="item">Version</a> -->

	<h1>Your posts</h1>

	<post ng-repeat="post in posts track by post.id" post="post" summary="true" class="card"></post>
</div>

