<toolbar></toolbar>

<div class="content">
	<div class="msg msg-error" ng-if="error">{{ error }}</div>

	<div class="avatar avatar-medium" avatar="avatar" avatar-size="70"></div>

	<ul class="segment-buttons">
		<li><a ng-click="segment='background'" ng-class="{active:segment==='background'}">Color</a></li><li>
			<a ng-click="segment='face'" ng-class="{active:segment==='face'}">Face</a></li><li>
			<a ng-click="segment='eyes'" ng-class="{active:segment==='eyes'}">Eyes</a></li><li>
			<a ng-click="segment='nose'" ng-class="{active:segment==='nose'}">Nose</a></li><li>
			<a ng-click="segment='mouth'" ng-class="{active:segment==='mouth'}">Mouth</a></li>
	</ul>

	<div class="segment sliders-5" ng-if="segment==='face'">
		<input slider type="number" ng-model="avatar.facecrown" title="Crown">
		<input slider type="number" ng-model="avatar.facecranium" title="Cranium">
		<input slider type="number" ng-model="avatar.faceside" title="Sides">
		<input slider type="number" ng-model="avatar.facecheek" title="Cheek">
		<input slider type="number" ng-model="avatar.facejaw" title="Jaw">
	</div>

	<div class="segment sliders-5" ng-if="segment==='eyes'">
		<input slider type="number" ng-model="avatar.eyeswidth" title="Width">
		<input slider type="number" ng-model="avatar.eyesheight" title="Height">
		<input slider type="number" ng-model="avatar.eyesx" title="X">
		<input slider type="number" ng-model="avatar.eyesy" title="Y">
		<input slider type="number" ng-model="avatar.eyesrotation" title="Angle">
	</div>

	<div class="segment sliders-3" ng-if="segment==='nose'">
		<input slider type="number" ng-model="avatar.nosewidth" title="Width">
		<input slider type="number" ng-model="avatar.noseheight" title="Height">
		<input slider type="number" ng-model="avatar.nosey" title="Y">
	</div>

	<div class="segment sliders-6" ng-if="segment==='mouth'">
		<input slider type="number" ng-model="avatar.mouthleftx" title="Left X">
		<input slider type="number" ng-model="avatar.mouthlefty" title="Left Y">
		<input slider type="number" ng-model="avatar.mouthrightx" title="Right X">
		<input slider type="number" ng-model="avatar.mouthrighty" title="Right Y">
		<input slider type="number" ng-model="avatar.mouthy" title="Y">
		<input slider type="number" ng-model="avatar.mouthlips" title="Lips">
	</div>

	<div class="segment" ng-if="segment==='background'">
		<ul class="colors">
			<li ng-repeat="color in colors"
				ng-attr-style="background-color: {{ color }}"
				ng-click="avatar.bgcolor = color"
				ng-class="{ active: avatar.bgcolor === color }"></li>
		</ul>
	</div>

	<div class="bottom">
		<button type="submit" ng-click="save()" ng-class="{ loading: loading }">Save</button>
	</div>
	
	<div class="msg msg-error" ng-if="error">{{ error }}</div>

	<div ng-show="!changePassword">
		<button ng-click="changePassword = true">Change password</button>
		<button ng-click="delete()" ng-class="{ loading: loading }" ng-disabled="loading">Delete account</button>
	</div>

	<div ng-show="changePassword">
		<input type="password" placeholder="Password" ng-model="password1">
		<input type="password" placeholder="Confirm" ng-model="password2">

		<button ng-click="savePassword()" ng-class="{ loading: loading }" ng-disabled="loading">Save</button>
		<button ng-click="changePassword = false">Cancel</button>
	</div>

	<div class="msg msg-error" ng-if="error">{{ error }}</div>

	<div class="header">
		<ul>

			<li ng-if="own && !showEdit" ng-click="toggleEdit(true)">
				<div class="number">Edit</div>
				<div class="noun">profile</div>

			</li><li ng-if="own && showEdit" ng-click="save()">
				<div class="number">Save</div>
				<div class="noun">profile</div>

			</li>
		</ul>
	</div>

	<div class="avatar avatar-medium" avatar="person.attributes.avatar" ng-if="!own"></div>
	<div class="avatar avatar-medium" avatar="person.attributes.avatar" ng-if="own" ng-click="go('/avatar')"></div>


	<div class="person-info" ng-if="!showContact">
		<div ng-if="!showEdit">
			<div class="person-username">{{ person.attributes.username }}</div>
			<div class="person-biography">{{ person.attributes.biography }}</div>
		</div>
		<div ng-if="own && showEdit">
			<input type="text" ng-model="edit.username" class="person-username">
			<textarea ng-model="edit.biography" class="person-biography"></textarea>
		</div>
	</div>

	<ul class="contact" ng-if="showContact">
		<li ng-repeat="(type, contact) in person.contact">
			<i class="fa {{ contactIcon[type] }}"></i>
			{{ type }}
		</li>
	</ul>
</div>

